@use "scss-vars/color" as color;
@use "scss-vars/size-computer" as size;

@mixin signin {
    color: color.$terciary-color;
    width: size.$width-button;
    border: 0.0625rem solid color.$secondary-color;
    background-color: color.$secondary-color;
    border-radius: 5%;
    font-size: size.$s + 0.1rem;
    height:size.$height-button;
    margin:0.375rem;
    box-shadow: 0 0 0.4rem 0 color.$terciary-color;
    position:relative;
    &:hover{
        transform: translate(0,5px);
        box-shadow: 0 0 1.25rem 0 ;
    }
}
@mixin signup {
    color: color.$terciary-color;
    background-color: white;
    font-size: size.$s+ 0.2rem;
    border: 0.0625rem solid color.$secondary-color;
    border-radius: 5%;
    width: size.$width-button;
    height:size.$height-button;
    margin:0.375rem;
    box-shadow: 0 0 0.4rem 0 color.$terciary-color;
    position:relative;
    &:hover{
        transform: translate(0,5px);
        box-shadow: 0 0 1.25rem 0 ;
    }
}

@mixin login {
    width: size.$width-button * 3.90;
    height:size.$height-button;
    background: white;
    color: color.$terciary-color;
    border: 0.0625rem solid color.$secondary-color;
    border-radius: 5%;
    padding:size.$s / 2;
    margin:size.$s / 2;
    box-shadow: 0 0 0.4rem 0 color.$terciary-color;
    &:hover{
        transform: translate(0,-3px);
        box-shadow: 0 0 1.25rem 0 ;
    }
}